.hidden-menu {
    display: none !important;
}

.button-open {
    display: flex;
    font-size: 40px;
    color: var(--azul);
    cursor: pointer;
}

.button-close {
    font-size: 32px;
    color: var(--azul);
    cursor: pointer;
}

.menu-lateral {
    width: 100%;
    min-height: 100vh;
    max-width: 280px;
    position: fixed;
    top: 100px;
    right: 0;
    padding-top: 20px;
    background-color: var(--azul);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    animation: moveIn 0.5s forwards;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-bottom: 40px;
}

.menu-lateral ul {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.menu-lateral ul li {
    width: 100%;
    text-align: start;
    color: var(--branco);
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--branco);
}

.menu-lateral a {
    padding-inline: 20px !important;
    font-size: 18px;
    font-weight: normal;
    background-color: transparent;
    color: var(--branco);
    text-transform: capitalize;
    display: flex;
    align-items: start;
    justify-content: start;
    transition: all 0.3s;
    cursor: pointer;
}

.menu-lateral a:hover {
    box-shadow: none;
    scale: 1.05;
    font-weight: 500;
}

.menu-lateral a i {
    font-size: 24px !important;
}

@media (max-width: 790px) {
    header {
        height: 60px;
    }

    nav {
        display: none !important;
    }

    .menu-lateral {
        width: 100%;
        top: 58px;
    }

    .menu-lateral a {
        width: 100%;
        font-size: 18px;
        text-align: start;
    }

    .button-open {
        display: flex !important;
    }
}

@media (max-width: 400px) {
    .menu-lateral {
        width: 100%;
        max-width: 400px !important;
    }
}

@keyframes moveIn {
    0% {
        transform: translateX(280px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes moveDown {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(400px);
    }
}